<!--@formatter:off-->
<div id="box" style="display: none">
    <h1 class="site-h1"></h1>

    <form class="layui-form" action="" id="item-form">

        <input type="hidden" name="id" autocomplete="off" placeholder="">

        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>

            <div class="layui-input-block">
                <input type="text" name="username" autocomplete="off" placeholder="" class="layui-input ">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">分组</label>

            <div class="layui-input-block">
                <select name="group" id="user_group_list" lay-filter="select_global_template">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>

            <div class="layui-input-block">
                <input type="password" name="password" autocomplete="off" placeholder="" class="layui-input ">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1" id="submit_add">立即提交</button>
                </button>

            </div>
        </div>

    </form>
</div>

<div class="layui-body">

    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this"><a href="/view/user/user.html">用户管理</a></li>
            <li><a href="/view/user/usergroup.html">分组管理</a></li>

        </ul>
        <div class="layui-tab-content"></div>
    </div>


    <h1 class="site-h1">用户管理 </h1>


    <table id="demodemo" lay-filter="demo"></table>

</div>


<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="template">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs layui-btn-disabled" lay-event="del">删除</a>
</script>


<script src="/asset/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['table', "form"], function () {
        var $ = layui.$

        var group_list = []
        var group_dict = {}

        function get_user_group_list() {
            $.ajax({
                url: "/api/group/group?",
                type: 'GET',
                success: function (data) {
                    group_list = data.data

                    for (var key in group_list) {
                        group_dict[group_list[key].group] = group_list[key]
                    }

                },
                error: function (xhr, type) {
                    layer.msg('初始化失败');
                }
            })
        }

        get_user_group_list()

        var table = layui.table;


        //第一个实例
        table.render({
            elem: '#demodemo',
            url: '/api/staffuser/staffuser',//数据接口
            page: true, //开启分页,
            cols: [[ //表头
                {field: 'username', sort: true, fixed: true, title: '用户名',},
                {
                    field: 'title',
                    title: '组名',
                    width: 200,
                    templet: function(d){
                        var group = group_dict[d.group]
                        return group ? group.groupname : ""
                      }
                },
                {fixed: 'right', align: 'center', toolbar: '#barDemo', title: '操作',}
            ]],
            limit: 20,
            limits: [20, 50, 100],

        })

        //监听表格复选框选择
        table.on('checkbox(demo)', function (obj) {
            console.log(obj)
        });

        //监听工具条
        table.on('tool(demo)', function (obj) {
            if (obj.event === 'del') {
                layer.confirm("确认删除用户", {
                    btn: ['确认', '取消'],
                    btn3: function (index, layero) {

                    }
                }, function (index, layero) {
                    del_item(obj.data)
                    obj.del();

                }, function (index) {

                })
            } else if (obj.event === 'template') {
                edit_item(obj.data)
            }
        });

        function del_item(data) {
            $.ajax({
                url: "/api/staffuser/staffuser/" + data['id'],
                type: 'DELETE',
                contentType: 'application/json',
                data: JSON.stringify({}),
                success: function (data) {
                    layer.msg('删除成功');

//                    table.reload('idTest', {});
                    location.reload()
                },
                error: function (xhr, type) {
                    layer.msg('删除失败');
                }
            })
        }

        var index = null

        function edit_item(data) {
            index = layer.open({
                type: 1,
                title: '编辑用户',              // [可选]
                content: $('#box'),          // 对话框中的内容部分
                area: ['600px',],    // 对话框的大小 [可选]
                shadeClose: true,           // 为 true 时点击遮罩关闭 [可选]
            });
            data['password'] = ""
            init_user_group_list()
            render_form($("#item-form"), data)
            form.render()
        }

        function init_user_group_list() {
            $("#user_group_list").empty()
            var ii = 0;
            for (var key in group_list) {
                var group = group_list[key]
                $("#user_group_list").append("<option value='" + group.group + "' " + (ii == key ? "selected" : "") + " >" + group.groupname + "</option>")
                ii++;
            }
        }

        var form = layui.form

        //监听提交
        form.on('submit(demo1)', function (data) {

            var id = data.field.id
            delete data.field.id
            $.ajax({
                url: "/api/staffuser/staffuser/" + id,
                type: "put",
                contentType: 'application/json',
                data: JSON.stringify(data.field),
                success: function (_data) {
                    console.log(_data)
                    if (_data.code != 0) {
                        layer.alert('提交失败!<br>' + _data.message, {
                            icon: 2,
                            skin: 'layer-ext-moon'
                        })
                        return false
                    }
                    layer.msg('更新成功');
                    layer.close(index)
//                    table.reload('idTest', {});
                    location.reload()
                },
                error: function (xhr, type) {
                    layer.msg("请求失败");
                }
            })

            return false;
        });


    });

    function render_form($form, row) {
        if (!row) {
            $form.find('input').val("");
            $form.find('select').val("");
            $form.find('textarea').val("");
            return
        }
        for (var name in row) {
            $form.find('input[name="' + name + '"]').val(row[name]);
            $form.find('select[name="' + name + '"]').val(row[name]);
            $form.find('textarea[name="' + name + '"]').val(row[name]);
        }

    }
</script>
