{% extends 'base/userinfo.html' %}


{% block head %}
<meta charset="utf-8">
<title>预设模板配置 管理界面</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/asset/layui/css/layui.css" media="all">
<link rel="stylesheet" href="/asset/css/global.css" media="all">
<script src="/asset/js/js-yaml.min.js"></script>
<script src="/asset/js/util.js" charset="utf-8"></script>

<style>
    .layui-body {
        left: 30px !important;
    }

    .e {
        height: 600px;
        min-width: 1000px;
        font-size: 14px;
    }

</style>

{% endblock %}

{% block body %}
<div id="box" style="display: none">
    <h1 class="site-h1"></h1>

    <form class="layui-form" action="" id="item-form">
        <input type="text" name="_id" id="_id" style="display: none">

        <div class="layui-form-item">
            <label class="layui-form-label">模板名称</label>

            <div class="layui-input-block">
                <input type="text" name="template_name" autocomplete="off" placeholder=""
                       class="layui-input " id="create_template_name">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">模板内容</label>

            <div class="layui-input-block">
                <div class="e" id="editor"></div>
                <script src="/asset/js/ace.js" type="text/javascript"
                        charset="utf-8"></script>

                <script>
                    var editor = ace.edit("editor");
                    editor.setTheme("ace/theme/monokai");
                    editor.getSession().setMode("ace/mode/django");

                    editor.container.style.lineHeight = 2
                    editor.container.style.fontSize = "14px"
                    editor.renderer.updateFontSize()
                </script>

            </div>


        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <!--<button class="layui-btn layui-btn-normal" id="btn_validate">验证</button>-->

            </div>
        </div>

    </form>

</div>


<div class="layui-body">

    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li><a href="index2.html">应用配置</a></li>
            <li><a href="index.html">环境配置</a></li>
            <li class="layui-this"><a href="global_template.html">预设模板</a></li>
            <li class=""><a href="resource.html">资源管理</a></li>

        </ul>
        <div class="layui-tab-content"></div>
    </div>


    <h1 class="site-h1">预设模板管理 <span style="font-size: 14px;color:red">预设模板中不能直接引用环境变量!</span></h1>
    <button id="create_item" class="layui-btn">新建配置</button>


    <table class="layui-table" lay-data="{ height: 'full', url:'/global_template_list', page:true, id:'idTest'}"
           lay-filter="demo">
        <thead>
        <tr>
            <th lay-data="{field:'template_name', sort: true, fixed: true}">模板名称</th>

            <th lay-data="{fixed: 'right', align:'center', toolbar: '#barDemo'}">操作</th>
        </tr>
        </thead>
    </table>

</div>


<script type="text/html" id="template">
    <a class="layui-btn layui-btn-xs" lay-event="template">模板</a>
</script>


<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="template">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs layui-btn-disabled" lay-event="del">删除</a>
</script>


<script src="/asset/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['table', "form"], function () {
        var $ = layui.$
//
//        function init_bind(id, el) {
//            $(id).on('click', function (event) {
//                event.preventDefault();
//                try {
//                    s = jsyaml.load(el.getValue())
//                    console.log(s)
//
//                    layer.alert('YAML验证通过', {
//                        icon: 1,
//                        skin: 'layer-ext-moon'
//                    })
//
//                } catch (err) {
//                    console.log(err)
//                    layer.alert('YAML验证失败!<br>' + err, {
//                        icon: 2,
//                        skin: 'layer-ext-moon'
//                    })
//                }
//            });
//        }
//
//        init_bind("#btn_validate", editor);

        var table = layui.table;
        //监听表格复选框选择
        table.on('checkbox(demo)', function (obj) {
            console.log(obj)
        });


        //监听工具条
        table.on('tool(demo)', function (obj) {
            if (obj.event === 'del') {
                layer.confirm("确认删除配置", {
                    btn: ['确认', '取消']
                    , btn3: function (index, layero) {

                    }
                }, function (index, layero) {
                    del_item(obj.data)
                    obj.del();

                }, function (index) {

                })
            } else if (obj.event === 'template') {
                edit_item(obj.data)
            }
        });
        function del_item(data) {
            $.ajax({
                url: "/global_template?template_name=" + data['template_name'],
                type: 'DELETE',
                contentType: 'application/json',
                data: JSON.stringify({}),
                success: function (data) {
                    layer.msg('删除成功');

//                    table.reload('idTest', {});
                    location.reload()
                },
                error: function (xhr, type) {
                    layer.msg('删除失败');
                }
            })
        }

        var index = null

        function edit_item(data) {
            index = layer.open({
                type: 1,
                title: '编辑模板',              // [可选]
                content: $('#box'),          // 对话框中的内容部分
                area: ['800px',],    // 对话框的大小 [可选]
                shadeClose: true,           // 为 true 时点击遮罩关闭 [可选]
            });
            render_form($("#item-form"), data)
            form.render()
            $("#create_template_name").attr("disabled", true)
            $("#create_template_name").addClass("layui-disabled")

            console.log(data)
            editor.setValue(data.template)
            editor.gotoLine(1)
        }

        $('#create_item').on('click', function () {
            index = layer.open({
                type: 1,
                title: '新建模板',              // [可选]
                content: $('#box'),          // 对话框中的内容部分
                area: ['800px',],    // 对话框的大小 [可选]
                shadeClose: true,           // 为 true 时点击遮罩关闭 [可选]
            });
            render_form($("#item-form"))
            $("#create_template_name").attr("disabled", false)
            $("#create_template_name").removeClass("layui-disabled")

        });


        var form = layui.form

        //监听提交
        form.on('submit(demo1)', function (data) {
            var template;
            template = editor.getValue()

//            try {
//                jsyaml.load(editor.getValue())
//            template = editor.getValue()
//                console.log(template)
//
//            } catch (err) {
//                console.log(err)
//                layer.alert('YAML验证失败!<br>' + err, {
//                    icon: 2,
//                    skin: 'layer-ext-moon'
//                })
//                return false
//            }
            data.field["template"] = template;
            $.ajax({
                url: "/global_template",
                type: "POST",
                contentType: 'application/json',
                data: JSON.stringify(data.field),
                success: function (_data) {
                    console.log(_data)
                    if (_data.code != 0) {
                        layer.alert('提交失败!<br>' + _data.msg, {
                            icon: 2,
                            skin: 'layer-ext-moon'
                        })
                        return false
                    }
                    layer.msg('更新成功');
                    layer.close(index)
//                    table.reload('idTest', {});
                    location.reload()
                },
                error: function (xhr, type) {
                    layer.msg("请求失败");
                }
            })

            return false;
        });


    });

    function render_form($form, row) {
        if (!row) {
            $form.find('input').val("");
            $form.find('select').val("");
            $form.find('textarea').val("");
            return
        }
        for (var name in row) {
            $form.find('input[name="' + name + '"]').val(row[name]);
            $form.find('select[name="' + name + '"]').val(row[name]);
            $form.find('textarea[name="' + name + '"]').val(row[name]);
        }

    }
</script>
{% endblock %}
