<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta charset="utf-8">
    <title>环境配置 管理界面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/asset/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/asset/css/global.css" media="all">
    <script src="/asset/js/js-yaml.min.js"></script>
    <script src="/asset/js/util.js" charset="utf-8"></script>

    <style>
        .layui-body {
            left: 30px !important;
        }

        .e {
            height: 600px;
            min-width: 1000px;
            font-size: 14px;
        }

        .type_btns {
            margin-top: 10px;
        }
    </style>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">应用配置/部署后台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/admin/index2.html">配置管理</a></li>

            <{ if .permission.system }>
            <li class="layui-nav-item"><a href="/view/user/user.html">用户管理</a></li>
            <{ end }>

            <{ if .permission.salt }>
            <li class="layui-nav-item"><a href="/admin/salt-run.html">salt部署</a></li>
            <{ end }>


            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <!--<dd><a href="">邮件管理</a></dd>-->
                    <!--<dd><a href="">消息管理</a></dd>-->
                    <!--<dd><a href="">授权管理</a></dd>-->
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <{ .username }>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/view/user/logout">退出</a></li>
        </ul>
    </div>


    <div>
        <!-- 内容主体区域 -->
        <{.LayoutContent}>
    </div>

    
</div>
<script>
    //JavaScript代码区域

</script>
</body>
</html>